<% @tracks.each do |track| %>
  <p>Title: <%= track["title"] %></p>
  <p>Tag List: <%= track["tag_list"] %></p>
  <p>Permalink URL: <%= track["permalink_url"] %></p>
  <p>ID: <%= track["id"] %></p>
  <p>Genre: <%= track["genre"] %></p>
  <p>Stream URL: <%= track["stream_url"] %></p>
<% end %>
