<div id="moodSelection">
  <h1>How are you feeling?</h1>
  <button class="emotion" id="Happy">Happy</button>
  <button class="emotion" id="Melancholy">Melancholy</button>
  <button class="emotion" id="Excited">Excited</button>
  <button class="emotion" id="Chill">Chill</button>
  <button class="emotion" id="Angry">Angry</button>
</div>

<div id="three"></div>

<div id="playlist">
  <div id="progressBar"></div>

<h3 id= "track-title"></h3>

<div id="all-controls">
  <a id="play" href="#">
    <%= image_submit_tag("play-24.png", class: "player-control") %>
  </a>
  <a id="pause"  href = "#">
    <%= image_submit_tag("pause-24.png", class: "player-control") %>
  </a>
  <a id="next"  href = "#">
    <%= image_submit_tag("arrow-31-24.png", class: "player-control") %>
  </a>
</div>

<% if current_user %>
  <a href = '/soundcloud-disconnect'><%= image_submit_tag("soundcloudd.png", id: 'soundcloud', title: "Logout")%></a>
<% else %>
 <a href = '/soundcloud-callback'><%= image_submit_tag("soundcloudd.png", id: 'soundcloud', title: "Login")%></a>
<% end %>

