<div class = 'playlist'>
<%= form_tag( '/new', remote: true, method: "get") do %>
    <%= label_tag(:user_name, "User name") %>
    <%= text_field_tag(:user_name) %>
    <%= label_tag(:password, "Password") %>
    <%= password_field(:password, "Password") %>
    <%= submit_tag("Connect") %>
  <% end %>
</div>